
<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid main-section">
    <h1>Challenge Yourself</h1>
    <h2>Foodie Journal makes it easy for you to embark
      <br>on a journey to discover new cuisines</h2>
    <button type="button" class="btn btn-default main-style main-button" [routerLink]="['/challenges']">Get Started</button>

  </div>
  <div class="discover-bar">
  <h3 id="scrollme1">Discover More <i class="fa fa-angle-down" style="font-size:24px"></i></h3>
  </div>
</div>

<!-- Services -->
<section class="services" id="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <i class="fa fa-cutlery" aria-hidden="true"></i>
        <h3>Explore the top 5 international cuisines and follow cuisine journeys</h3>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-map-signs" aria-hidden="true"></i>
        <h3>Receive restaurant recommendations based on your preferences and location</h3>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-check" aria-hidden="true"></i>
        <h3>Complete challenges and track your progress against your selected cuisine journey</h3>
      </div>
    </div>
  </div>
</section>
<!-- end Services -->
<!-- footer -->
<section id="footer">
    <div class="container">
      <p>Developed by<a href="../team"><img id="logo" src="../../assets/fotosequipo/sinister6no.png" alt="logo" title="Sinister Six"></a></p>
    </div>
  </section>
