<!--The content below is only a placeholder and can be replaced.-->
<!-- <h2>Nerby Business according to your location</h2>
<p>latitide: {{geolocationPosition.latitude}}</p>
<p>longitude: {{geolocationPosition.longitude}}</p> -->

<!-- <div class="list-group " *ngFor="let business of business.businesses;">
  <a class="list-group-item active">
    <p>{{business.name}}</p>
    <p>{{business.display_phone}}</p>
    <p>{{business.price}}</p>
    <p>{{business.rating}} - {{business.review_count}}</p>
    <p>{{business.is_closed | isOpen: business.is_closed}}</p>
    <p>{{business.location.display_address[0]}}, {{business.location.display_address[1]}}, {{business.location.display_address[2]}}</p>
    <img src="{{business.image_url}}" width="250px" />
    <p>
      <a href="{{business.url}}" target="_blank">{{business.name}}</a>
    </p>
    <pm-map [latitude]='business.coordinates.latitude' [longitude]='business.coordinates.longitude' [label]='business.name'></pm-map>
  </a>
</div>
<hr> -->

<section id="cajatop">
  <div class="row" style="width: 100%; background-color: white;">
    <div class="container">
      <div class="topnav container" id="myTopnav">
          <div class="selectResp" style="float: left;">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" (click)="f_click(1)" ngbDropdownToggle>American </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" (click)="f_click(2)">Korean</button>
                <button class="dropdown-item" (click)="f_click(3)">Italian</button>
                <button class="dropdown-item" (click)="f_click(4)">Mexican</button>
              </div>
            </div>
          </div>
        <a href="businesses/american" class="active" (click)="f_click(1)" >American</a>
        <a href="businesses/korean" (click)="f_click(2)">Korean</a>
        <a href="businesses/italian" (click)="f_click(3)">Italian</a>
        <a href="businesses/mexican" (click)="f_click(4)">Mexican</a>
        <a href="businesses/japanese" (click)="f_click(5)">Japanese</a>
        <a style="font-size:15px;" class="icon" (click)="myFunction()">&#9776;</a>
        <div style="float: right;">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Most Recent </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Most Recent</button>
                <button class="dropdown-item">Highest Rated</button>
                <button class="dropdown-item">Top Reviewed</button>
              </div>
            </div>
          </div>
      </div>
    
  <div class="row col-md-12 col-sm-12 col-12 acomodar">
    <div class="row col-md-6 col-sm-12 col-12">
      <div class="col-md-3 col-sm-3 col-3">
        <label class="circle"></label>
      </div>
      <div class="col-md-9 col-sm-9 col-9">
        <p class="Challenge_name">{{TitleJournal}}</p>
        <p class="Challenge_desc">One characteristics of America cooking is the fusion of multiple ethnic or regional approaches into completely
            new cooking styles
        </p>
      </div>
    </div>
    <div class="row col-md-6 col-sm-12 col-12">
      <div class="col-md-8 col-sm-0 col-0"></div>
      <div class="col-md-4 col-sm-6 col-12">
        <button class="btnDure btn btn-default ">Duration: 3 weeks</button>
      </div>
      <div class="col-md-8 col-sm-0 col-0"></div>
      <div class="col-md-4 col-sm-6 col-12">  
        <button class="btn_style btn btn-default" [ngStyle]="{'display':hidden}"(click)='hide()'>Follow</button>
        <button class="btn_style btn btn-default" [ngStyle]="{'display':display}">Continue</button>
      </div>    
    </div>
  </div>
  </div>
</div>
</section>
<br>
<div class="container">
  <ngb-accordion [closeOthers]="true">
    <br>
    <br>
    <ngb-panel id="{{'static-'+i}}" *ngFor="let business of business.businesses; let i= index">
        <ng-template ngbPanelTitle>
            <span><div class="orden">{{i+1}} </div> {{ business.name}}</span>
          </ng-template>
      <ng-template ngbPanelContent> 
        <div class="row">
          <div class="col">
            <p class="panel-name">{{business.name}}</p>
            <pm-star [rating]='business.rating'></pm-star>
            <span class="rev-count">{{business.review_count}} reviews</span>
            <p class="panel-price">{{business.price}}</p>
            <p class="panel-address">{{business.location.display_address[0]}}, {{business.location.display_address[1]}}, {{business.location.display_address[2]}}</p>
          </div>
          <div class="col">
            <div class="thumbnail business-info">
              <p class="panel-open"> {{business.is_closed | isOpen: business.is_closed}}</p>
              <hr>
              <p class="panel-contact">
                <a href="tel:{{business.display_phone}}">{{business.display_phone}}</a>
                <br>
                <a href="{{business.url}}" target="_blank">{{business.name}} Yelp Link</a>
              </p>
            </div>
          </div>
          <div class="col">
            <div class="thumb-post">
              <img src="{{business.image_url}}" alt="{{business.name}}" />
            </div>
          </div>
          <div class="col">
            <pm-map [latitude]='business.coordinates.latitude' [longitude]='business.coordinates.longitude' [label]='business.name'></pm-map>
          </div>
          <div class="col-1">
            <a [routerLink]="['/details', business.id, category]">
              <i class="fa fa-angle-right angle"></i>
            </a>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <br>
  </ngb-accordion>
</div>
<br>
<br>
<br>
<br>