<div id="main">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="/team">About</a>
  </div>
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <span style="font-size:20px;cursor:pointer"  (click)="openNav()">&#9776;</span>
          <a class="links navbar-brand" href="home">FoodieJournal</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="links" (click)="open();" *ngIf="!isLogin">
            <span class="glyphicon glyphicon-user"></span>{{logname}}</a>
        </li>
        <li>
          <a class="links" (click)="logout();" *ngIf="isLogin" [routerLink]="['/home']">
            <span class="glyphicon glyphicon-user"></span>{{logname}}</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--Login Modal-->
  <div class="backdrop" [ngStyle]="{'display':display}"></div>
  <div class="modal" tabindex="-1" role="dialog" id="modal" [ngStyle]="{'display':display}">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <input class="login_in" placeholder="Email or Username" type="email">
          <br>
          <input class="login_in" placeholder="Password" type="password">
          <button id="btn_login" (click)="login();" [routerLink]="['/challenges']">Log In</button>
        </div>

        <span id="or">or log in with</span>

        <div class="redes">
          <button type="button" class="twitter" id="twitter" aria-label="twitter"></button>
          <button type="button" class="twitter" id="facebook" aria-label="twitter"></button>
          <button type="button" class="twitter" id="google" aria-label="twitter"></button>
        </div>
        <br>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal !-->



  <router-outlet></router-outlet>
