
/* You can add global styles to this file, and also import other style files */

.navbar{
    padding: 1em;
    color: white;
    background-color:#fd513f;
    width:100%;
    height: 50px;
    margin-bottom: 0%;
}

body{
    background-color: #F2F2F2 !important;
}

.navbar a {
    color:white ;
}

.navbar a:hover {
    color:rgb(252, 140, 128) ;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fd513f;
    opacity: 0.5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.modal {
    position: absolute;
    top: 10px;
    margin-right: 2%;
    margin-left: 80%;
    /* z-index: 10040;
    overflow: auto;
    overflow-y: auto; */
    min-width: 250px; 
    max-width: 250px;
 } 

.modal-content{
    height: auto;
    border-radius: 0% ;
}

.modal-header{
    padding: 3%;
    border: none;
}

.login_in{
    width: 100%;
    height: 120%;
    padding: 3%;
    font-size: 14px; 
    margin: 1%;
}


#btn_login{
    width: 100%;
    padding: 3%;
    background-color: #fd513f;
	border-radius: 0;
    border-style: none;
    color: white;
    font-size: 14px;
    margin-top: 5%;
}

#or{
    text-align: center;
    margin: auto;
    color: gray;
    font-size: 14px;
    margin-bottom: 5%;
    padding-top: 0%;
}
.redes{
    text-align: center;
    margin-left: 15%;
}
.twitter{
     color:  #fd513f;
     border: 1px solid gray;
     height: 40px;
     width: 25%;
     float: left;
     margin: auto;
     background: none;
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;    
}

#twitter{
    background-image: url('http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png');
    background-size: 70%;
}

#facebook{
    background-image: url('https://vignette.wikia.nocookie.net/the-miners-haven-project/images/5/55/Facebook.png/revision/latest?cb=20170404025038');
    background-size: 60%;
    margin-left: 5%; 
}

#google{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyhXa9W9zG1hoZFYXUBMeVXeFE5V3pnfrKQfSPl-EGUrqKnwMh');
    background-size: 60%;
    margin-left: 5%; 
}