<!--p>
  instructions works!
</p-->



  <!--crear un div class container-->
  <div class="row"></div>
  <div class="col-md-3 col-md-offset-1" routerLink='/home' >
      <i class="fas fa-arrow-left btn-link"></i>
      <button type="button" class="btn btn-link" >Journeys</button>
</div>


<div class="row">
<div class="wrapper">
      <div class="circle">
          <h1>2</h1>
      </div>
      <div class="Note1">
      <span>Traditional American Desserts</span>
      </div>
</div>
</div>
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-md-offset-1">
              <button type="button" class="btn previous">Previous</button>
          </div>
          <div class="col-md-6 col-md-offset-1">
              <button id="started" type="button" class="btn started btn-danger">Mark as Started</button>
          </div>
          <div class="col-md-3 right">
              <button type="button" class="btn next">Next</button>
          </div>

      </div>
  </div>
