

	<title>Sinister Six</title>
	<link rel="icon" href="../../assets/fotosequipo/pngconglo.png" type="image/gif" sizes="16x16">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/team.component.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rubik:500" rel="stylesheet">


	<!--Título-->


	<div class="content">


			<img class="six" id="six" src="../../assets/fotosequipo/pngconglo.png">
			<br>


	  <div class="container main-section">
				<h1 id="meet"> MEET OUR TEAM </h1>
				<h2 id="descripcion">We are<img id="logo" src="../../assets/fotosequipo/sinister6no.png" alt="logo" title="Sinister Six">, <br>a team of highly motivated developers based in Monterrey, México.</h2> 
        <br>
				<p>We embarked on a 2-week journey to do our best to deliver your next favorite food finding app, whilst showcasing our design and front-end skills.</p>
				<p id="small">SCROLL DOWN FOR MORE</p>
	  </div>
	  
	  <div class="vl"></div>

	<!-- Members -->
	<section class="members" id="members">
		
		<div class="container">
			
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="right">
						<div class="circle-right" id="marcos"></div>
						<div class="text-right">
							<h3>Marcos Isunza</h3>
							<h4>API guru, chocolate-lover and main project architect. <br>Very patient guy.</h4>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
						<div class="right">
								<div class="text-left">
								<h3>Ana Sánchez</h3>
								<h4>Delivery lead and early bird. Never leaves a doubt unanswered.</h4>
							</div>
							<div class="circle-left" id="ana"></div>
						</div>
					</div>
				</div>	
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="right">
						<div class="circle-right" id="orlando"></div>
						<div class="text-right">
							<h3>Orlando Amaro</h3>
							<h4>Expert at group-naming and singer. Master of interaction developing.</h4>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
						<div class="right">
								<div class="text-left">
								<h3>Elizabeth Gámez</h3>
								<h4>ft. Princesa<br>Natural ability for binge-watching Shrek and binge-eating sushi.</h4>
							</div>
							<div class="circle-left" id="eli"></div>
						</div>
					</div>
			</div>		
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="right">
						<div class="circle-right" id="edgar"></div>
						<div class="text-right">
							<h3>Edgar Sánchez</h3>
							<h4>Skilled researcher, youtube tutorials devourer, and verified geek. Always willing to help the team.</h4>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
						<div class="right">
								<div class="text-left">
								<h3>Lorena Vargas</h3>
								<h4>Scrum master and interface designer.<br>95% classic rock junkie, 5% OCD. </h4>
							</div>
							<div class="circle-left" id="lorena"></div>
						</div>
					</div>
			</div>			
			<br>
			<br>
			<br>
			<div class="vl"></div>
			<br>
		<div class="row">
			<div class="col-md-12 text-center">
				<button class="boton">CONTACT US</button><br>
				<button class="takeback" [routerLink]="['/homepage.component.html#top']">Not today, take me back to FoodieJournal</button>
			</div>
		</div>
      <!-- <div class="row">
				<div class="col-md-12 text-center"> -->
					  <img id="equipo" src="../../assets/fotosequipo/equipo.png	" alt="logo">
				<!-- </div>
			</div> -->
		</div>


  </section>

	</div>